body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url('../images/ceva_logo.png') no-repeat center center fixed;
    background-size: cover;
}

h2 {
    text-align: center;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
}

.add-btn {
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
    display: block;
    text-align: center;
    margin: 20px 0;
}

#addProviderForm {
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.icon {
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
}

/* Añadir estilo para el ícono de eliminar */
.icon-delete {
    color: #ff0000;
}

.icon:hover {
    color: #0056b3;
}
